.highlight{
    border: 1px solid red;
    width: 50%;
    margin: 1rem;
    padding: 1rem;
    background-color: lightcyan;
    color:magenta;
}

.bg1{
    background-color: yellow;
    color:black;
}

.bg1{
    background-color: red;
    color:white;
}